{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main technology-container" role="main">
        <div class="head">
            {{ content }}
        </div>
        {% for page in pages("technology") %}
            <a href="{{ page.url }}">
                <div class="technology">
                    <b>{{ page.title }}</b><br><br>
                    <i class='fas fa-sign-in-alt' style='font-size:36px'></i>
                </div>
            </a>
         {% endfor %}
         {% for page in pages("technology/sqlite") %}
             <a href="{{ page.url }}">
                     <div class="technology-last">
                         <b>{{ page.title }}</b><br><br>
                         <i class='fas fa-sign-in-alt' style='font-size:36px'></i>
                     </div>
             </a>
          {% endfor %}
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
